.appbox {
  width: 200px;
  height: 200px;
  margin: 25px;
  display: inline-block;
  position: relative;
  border-style: solid;
  background-color: white;
  border-color: rgba(0, 0, 0, .5)
}


.appname {
  cursor: pointer;
  width: 200px;
  font-size: 1em;
  bottom: 0;
  height: 50px;
  position: absolute;
  background: rgba(129, 129, 129, 0.59)
}


.appNameText {
  margin: 15px 5px 0px;
  color: white;
}

.appNameText > a {
  text-decoration: none
}

.github {
  position: absolute;
  top: 0;
  left: 0
}
